.terraform/
.env
.envrc
.env-*
terraform.tfstate.backup
terraform.tfstate
*.pyc
*.pem
*.key
*.exe
bin/
dependencies/
include/
lib/
local/
share/
.idea
terraform.tfstate.d/
*/terraform.tfstate.d/
*.g.yaml
*.g/
